@import (reference) 'app/common';

.feed-minimap {
	margin-left: 1em;
	position: fixed;
	bottom: 0;
	right: 1em;

	width: 18em;
	background-color: #FFF;
	border: 1px solid @medGreen;
	border-bottom: none;

	.mobile({
		right: 12vw;
		width: 75vw;
	});

	&.hidden {
		.map-node {
			display: none;
		}
	}

	.map-controls {
		text-align: right;
		padding: .1em .5em .1em .1em;
	}
	
	.map-node {
		width: 18em;
		height: 18em;

		.mobile({
			height: 35vh;
			width: 75vw;
		});
	}
}