@import (reference) 'app/common';

.feed-post {
	margin-top: 1.5em;
	padding: .5em;

	&:first-child {
		margin-top: 0;
	}

	.portrait-wrap, .post-header {
		display: inline-block;
	}

	@portraitMaxWidth: 3em;
	@portraitMaxHeight: 3em;
	.portrait-wrap {
		width: @portraitMaxWidth;
		height: @portraitMaxHeight;
		text-align: center;

		.portrait {
			max-width: @portraitMaxWidth;
			max-height: @portraitMaxHeight;

			border-radius: 5px;	// TODO: Pixels or ems?
		}
	}
	.post-header {
		padding-left: .8em;
		vertical-align: top;

		.post-author {
			color: @darkGreen;
		}

		.post-info {
			font-size: .8em;
			color: @lightGray;
		}

		.post-private {
			padding-left: 1em;
		}

		.post-location {
		}

		.post-date {
			padding-left: .5em;

			box-sizing: border-box;
		}
	}

	.post-body {
		margin: .6em 0 .3em;
	}

	.post-controls {
		color: @darkerGreen;
		font-size: .8em;

		.post-control {
			cursor: pointer;

			&:hover {
				color: @darkestGreen;
			}
		}
	}
}