@backgroundWhite: #FFF;
@backgroundGray: #FAFAFA;
@lighterGray: #ddd;
@lightGray: #aaa;
@darkGray: #333;

@lightGreen: #D9FFE6;
@medGreen: #6AEB95;
@darkGreen: #29cc60;
@darkerGreen: #39BF66;
@darkestGreen: #268044;

@lightRed: #FFD9D9;
@medRed: #EB6A6A;
@darkerRed: #BF3939;

@standardFont: Arial, Helvetica, sans-serif;

.mobile(@rules) {
	@media all and (max-device-width: 4in) {
		@rules();
	}
}


.contained { 
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;

	.mobile({
		padding: 0 .5em;
		box-sizing: border-box;
	})
}

@podBorderWidth: 1px;
@podBorderRadius: 5px;
@podColor: @medGreen;
.pod {
	background-color: white;

	border-radius: @podBorderRadius;
	border: 1px solid #ddd;

	overflow: hidden;

	&.important {
		border-color: @podColor;
	}

	.pod-section {
		border-style: solid;
		border-color: @podColor;
		border-width: 0 0 @podBorderWidth 0;

		&:last-child {
			border-width: 0;
		}
	}
}