@import "app/common";

html {
	width: 100%;
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: @backgroundGray;
	color: @darkGray;
}

button, .button {
	background-color: @medGreen;
	border: 1px solid @darkerGreen;
	color: @darkestGreen;
	border-radius: 5px;

	&:active:hover {
		background-color: @darkerGreen;
	}

	&.empty {
		background: none;
		border: none;
	}

	&.cancel {
		background-color: #E0E0E0;
		border-color: #CCC;
		color: #888;

		&:active:hover {
			background-color: #CCC;
			border-color: #666;
		}
	}

	&.large {
		font-size: 1.4em;
		padding: 0 1em;
	}

	&.medium {
		font-size: 1em;
		padding: 0 .5em;
	}

	&.small {
		font-size: .8em;
		padding: 0 .3em;
	}
}

a {
	color: @darkerGreen;
	text-decoration: none;
	font-style: normal;
	cursor: pointer;

	&:active {
		color: @darkestGreen;
	}
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

input[type='text'], textarea {
	&:focus {
		outline: none;
	}
}

nav#top-nav-bar {
	background-color: @backgroundWhite;
	border-bottom: 1px solid @medGreen;
}

main {
	margin-top: 2em;

	#left-bar {
		width: 20%;
		display: inline-block;
		vertical-align: top;
	}

	#post-feed {
		width: 75%;
		display: inline-block;
	}
}