@import (reference) "app/common";

#post-form {
	.do-side-padding() {
		padding-left: 2em;
		padding-right: 2em;
	}

	.post-body {
		.do-side-padding();

		padding-top: 1em;
		padding-bottom: .5em;

		.post-author-info {
			display: inline-block;
			vertical-align: top;
			width: 4em;
			height: 4em;
		}

		textarea {
			width: 80%;
			height: 5em;
			padding: .3em .3em .3em 1em;

			resize: none;

			border: none;
			background-color: white;

			margin: 0;
			box-sizing: border-box;
		}

	}

	.post-privacy-settings {
		.do-side-padding();

		padding-top: .5em;
		padding-bottom: .5em;

		select, input, label {
			vertical-align: middle;
			font-size: .8em;
		}

		.privacy-option {
			display: none;
			margin-left: 1em;
		}

		&.is-public .privacy-option {
			display: inline-block;;
		}
	}
	
	.post-buttons {
		.do-side-padding();
		padding-top: .5em;
		padding-bottom: .5em;

		text-align: right;

		background-color: @lightGreen;
	
		button {
			margin: 0 .5em;
		}
	}
}