@import (reference) 'app/common';

.location-info-window {
	white-space: nowrap;
	overflow: hidden;

	.post-entry {
		img {
			max-width: 2em;
			max-height: 2em;
		}

		.post-body {
			text-overflow: ellipsis;
		}
	}
}