@import (reference) 'app/common';

.user-entry {
	padding: .3em 1em;
	box-sizing: border-box;
	cursor: pointer;

	&:hover {
		background-color: @lightGreen;
	}

	img {
		width: 1.5em;
		height: 1.5em;

		vertical-align: middle;
	}

	.user-name {
		padding-left: 1em;
		width: 100%;

		color: @medGreen;
	}

	.user-info {
		font-size: .7em;
		color: @lightGray;

		span {
			margin-left: 1em;
		}
	}
}