@import (reference) 'app/common';

.notification-area {
	// Divider
	// TODO: move this out of notifications
	&:before {
		margin-left: .5em;
		padding-left: .5em;
		border-left: 1px solid @lighterGray;
		display: inline-block;
		content: '';
		height: 65%;
		vertical-align: middle;
	}

	display: inline-block;
	position: relative;
	height: 2.5em;

	.mobile({
		white-space: normal;	// Need to unset inherited property
	});

	&.show-notifications {
		.notifications {
			display: block;
		}
	}

	&.new-notifications {
		.notifications-toggle {
			font-weight: bold;
		}
	}

	.notifications-toggle {
		line-height: 2.5em;
		vertical-align: middle;
	}

	.empty-notifications {
		color: @lightGray;
		font-style: italic;
		padding: .5em 1em;
		font-size: .9em;
	}

	.notifications {
		position: absolute;
		display: none;

		right: 0;
		width: 10em;
		border: 1px solid @darkestGreen;
		border-top: none;

		background-color: #FFF;
	}
}